@import url(style_main_header.css); 
@import url(style_main_footer.css); 

:root {
--teste: blue;
}

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: start;
    align-items: left;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: 100%;
    max-width: 100vw;
    padding: 0 2rem;
}

footer {
    margin-top: auto;
    padding: .5rem 0;
    background-color: #f8f9fa;
    text-align: center;
    width: 100%;
    
    p {
        margin: 0;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }
}   